.home {
    &__banner {
        height: 100vh;
        width: 100%;
        background: linear-gradient(90deg,$white 50%,$black 0.1%,$black 50%);

        .d-flex {
            @media(max-width:1000px) {
                flex-direction: column;;
            }
        }

        h2 {
            font: {
                size: 48px;
                weight: $fontSemiBold;
            }
            line-height: 58px;
            color: $black;
            text-transform: uppercase;
            max-width: 35%;
            

            &.white {
                color: $white;
            }
            
            @media(max-width:1000px) {
                font-size: 36px;
                text-align: center;
            }

            @media(max-width:500px) {
                max-width: none;
            }
        }

        @media(max-width:1000px) {
            padding: {
                top: 100px;
                bottom: 40px;
            }
            background: linear-gradient(180deg,$white 50%,$black 0.1%,$black 50%);
        }
    }

    &__about {
        height: 100vh;

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill,  minmax(50%, 1fr));
            grid-gap: 30px;

            .selfImage {
                min-width: 50%;
            }
        }
    }
}