.home {
    &__banner {
        height: 100vh;
        width: 100%;
        background: linear-gradient(90deg,$white 50%,$black 0.1%,$black 50%);

        .d-flex {
            @media(max-width:1000px) {
                flex-direction: column;;
            }
        }

        h2 {
            font: {
                size: 48px;
                weight: $fontSemiBold;
            }
            line-height: 58px;
            color: $black;
            text-transform: uppercase;
            @media(min-width:560px) {
                max-width: 35%;
            }
            

            &.white {
                color: $white;
            }
            
            @media(max-width:1000px) {
                font-size: 36px;
                text-align: center;
                max-width: 48%;
            }
            
        }

        @media(max-width:1000px) {
            padding: {
                top: 70px;
                bottom: 15px;
            }
            background: linear-gradient(180deg,$white 50%,$black 0.1%,$black 50%);
        }
        
    }
}