//colors
$primaryColor: #FFD838;
$bannerWhite: #EFEFEF;

$white: #FFFFFF;
$lightGray:  #949BA0;
$black: #161618;
$textColor: #A4A4A4;



//font
$family: 'Montserrat', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

//Screens
$tablet: 1100px;
$mobile: 700px;
$lowMobile: 450px;


